@font-face {
    font-family: roboto-condensed;
    src: url('fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: press-start-2p;
    src: url('fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
}

@font-face {
    font-family: finlandica;
    src: url('fonts/Finlandica/static/Finlandica-Regular.ttf') format('truetype');
}

@font-face {
    font-family: nova-square;
    src: url('fonts/Nova_Square/NovaSquare-Regular.ttf') format('truetype');
}

html {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overscroll-behavior-y: none;
}

body {
    background-image: radial-gradient(ellipse at center, #326F91 0%, rgb(0, 17, 20) 100%);
    background-repeat: no-repeat;
    background-size: 100vw 101vh;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#name-title {
    height: fit-content;
    width: fit-content;
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-family: press-start-2p;
    color: white;
}

#name-title>h1 {
    font-size: 3.5vw;
}



#portrait {
    height: 30vh;
}

#proj-img>img {
    height: auto;
    width: auto;
    max-width: 80%;
}

#portrait>img {
    height: 100%;
    width: auto;
}


#social-links {
    width: 100%;
    display: flexbox;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    margin-top: -10px;
    margin-bottom: 2px;

    color: white;
}

.social {
    margin: 15px;
    color: white;
}

.social:hover {
    color: #f5b800;
}

.social>.fa {
    transition: .2s ease-out;
}

.social>.fa:hover {
    transform: scale(1.5);
}


hr.round {
    width: 90vw;
    margin-top: 2vh;
    border-top: 8px solid white;
    border-radius: 5px;
}

hr.thin {
    width: 90vw;
    margin-top: 2vh;
    border-top: 2px solid white;
    border-radius: 5px;
}

#description {
    width: 80vw;
    height: fit-content;
    color: white;
    font-family: finlandica;
    font-size: 30px;
    text-align: center;
}

.show-buttons {
    width: 100%;
    display: flexbox;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    margin-top: -10px;
    margin-bottom: 2px;
}


.show-btn {
    margin: 20px;
    background: none;
    border-radius: 25px;
    border: 2px solid white;
    width: 150px;
    height: 50px;
    text-align: center;
    color: white;
    font-family: finlandica;
    transition: .2s ease-out;
}

.show-btn:hover {
    background-color: #36868E;
    transform: scale(1.15);
}

/* ------------------------------ projects ------------------------------ */

#project-page {
    display: none;
    /* opacity: 0;
    transition: opacity 0.3s linear; */
    flex-direction: column;
    align-items: center;
}



#proj-video {
    position: relative;
    overflow: hidden;
    width: 80vw;
    min-height: 45vw;
    /*padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsiveiframe {
    min-height: 45vw;
    width: 100%;
    height: 100%;
}


.section-title {
    margin-top: 2vh;
    color: white;
    font-family: finlandica;
}

#projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.proj-btn {
    margin: 20px;
    background: none;
    border-radius: 50px;
    border: 2px solid white;
    width: 100px;
    height: 100px;
    color: white;
    font-family: finlandica;

    background-position: center;
    background-size: cover;
    transition: .2s ease-out;

}

.proj-btn:hover {
    background-color: #36868E;
    transform: scale(1.15);
    border-color: #f5b800;
}

#current-project {
    margin-top: 5vh;
    margin-bottom: 20vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: white;
}

#proj-link:visited {
    color: #f5b800;
}

#proj-link:link {
    color: #f5b800;
}

#proj-link:hover {
    color: #ffdd1a;
}

/* -------------------------------------------------------- */

#career-page {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#careers-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 20vh;
    color: white;
    font-family: finlandica;
}

#skillspage {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skillscontainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 5vh;
    margin-bottom: 20vh;
    color: white;
    font-family: finlandica;
}

.skillbox {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
    align-items: center;
    justify-content: left;
    min-width: 100%;

}

.skill-name {
    min-width: 20vw;
    max-width: 20vw;
}

.progress-container {
    width: 100%;
    display: flex;
    align-items: right;
    justify-content: right;
}

.progress.progress {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    background-color: #124f54;
    width: 50vw;
    height: 2vh;
    margin-left: 20px;
    margin-right: 10vw;
}

.filling {
    border-radius: inherit;
    background-image: linear-gradient(to right, #3D7EAA, #FFE47A);
    width: 0;
    height: 100%;
}



#researchpage {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#researchcontainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 20vh;
    color: white;
    font-family: finlandica;
}

#studypage {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#studycontainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    margin-bottom: 20vh;
    color: white;
    font-family: finlandica;
}

.studybox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}