@font-face {
    font-family: roboto-condensed;
    src: url('fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: press-start-2p;
    src: url('fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
}

@font-face {
    font-family: finlandica;
    src: url('fonts/Finlandica/static/Finlandica-Regular.ttf') format('truetype');
}

@font-face {
    font-family: nova-square;
    src: url('fonts/Nova_Square/NovaSquare-Regular.ttf') format('truetype');
}

body {
    background-image: radial-gradient(ellipse at center, #326F91 0%, rgb(0, 17, 20) 100%);
    background-repeat: no-repeat;
    background-size: 100vw 300vh;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#name-title {
    height: fit-content;
    width: fit-content;
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-family: press-start-2p;
    color: white;
}

#name-title>h1 {
    font-size: 50px;
}



#portrait {
    height: 25vh;
}

img {
    height: 100%;
    width: auto;
}

#social-links {
    width: 100%;
    display: flexbox;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    margin-top: -10px;
    margin-bottom: 2px;

    color: white;
}

.social {
    margin: 15px;
    color: white;
}

.social:hover {
    color: #f5b800;
}

.social>.fa {
    transition: .2s ease-out;
}

.social>.fa:hover {
    transform: scale(1.5);
}


hr.round {
    width: 90vw;
    margin-top: 2vh;
    border-top: 8px solid white;
    border-radius: 5px;
}

hr.thin {
    width: 90vw;
    margin-top: 2vh;
    border-top: 2px solid white;
    border-radius: 5px;
}

#description {
    width: 80vw;
    height: fit-content;
    color: white;
    font-family: finlandica;
    font-size: 30px;
    text-align: center;
}

.show-buttons {
    width: 100%;
    display: flexbox;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    margin-top: -10px;
    margin-bottom: 2px;
}


.show-btn {
    margin: 20px;
    background: none;
    border-radius: 25px;
    border: 2px solid #ffffff;
    width: 150px;
    height: 50px;
    text-align: center;
    color: white;
    font-family: finlandica;
    transition: .2s ease-out;
}

.show-btn:hover {
    background-color: #36868E;
    transform: scale(1.15);
}

/* ------------------------------ projects ------------------------------ */

#project-page {
    display: none;
    /* opacity: 0;
    transition: opacity 0.3s linear; */
    flex-direction: column;
    align-items: center;
}


.section-title {
    margin-top: 2vh;
    color: white;
    font-family: finlandica;
}

#projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.proj-btn {
    margin: 20px;
    background: none;
    border-radius: 50px;
    border: 2px solid #ffffff;
    width: 100px;
    height: 100px;
    color: white;
    font-family: finlandica;

    background-position: center;
    background-size: cover;
    transition: .2s ease-out;

}

.proj-btn:hover {
    background-color: #36868E;
    transform: scale(1.15);
    border-color: #f5b800;
}

#current-project {
    margin-top: 5vh;
    margin-bottom: 20vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: white;
}

#proj-link:visited {
    color: #f5b800;
}

#proj-link:link {
    color: #f5b800;
}

#proj-link:hover {
    color: #ffdd1a;
}

/* -------------------------------------------------------- */

#career-page {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#careers-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 20vh;
    color: white;
    font-family: finlandica;
}

#skills-page {
    display: flex;
}

#research-page {
    display: flex;
}